<!DOCTYPE html>
<html>
<head>
    <title>Harry Potter's Magical World</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <a asp-action="LoginForm" class="btn btn-primary mt-4">Take me back!</a>
        <!-- Header -->
        <div class="header text-white d-flex justify-content-center align-items-center">
            <h1>Welcome to Hogwarts, fellow @Model!</h1>
        </div>

        <!-- Content Section -->
        <div class="row my-4">
            <div class="col-lg-12">
                <h2>About Hogwarts</h2>
                <p>
                    Hogwarts School of Witchcraft and Wizardry is the British wizarding school, located in the Scottish Highlands. It accepts magical students from Great Britain and Ireland for enrollment. It is a large, seven-story castle with extensive grounds surrounding it.
                </p>
            </div>
        </div>

        <!-- Embedded Video -->
        <div class="row">
            <div class="col-lg-12">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tpyS1lGlirI?si=EcWpXK-UqHxCNBqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
